<footer class="footer">
    <div class="container">
        <div class="level">
            <div class="level-start has-text-centered-mobile">
                <a class="footer-logo is-block has-mb-6" href="<%- url_for('/') %>">
                <% if (logo && logo.text) { %>
                    <%= logo.text %>
                <% } else { %>
                    <img src="<%- url_for(logo) %>" alt="<%= title %>" height="28">
                <% } %>
                </a>
                <p class="is-size-7">
                &copy; <%= date(new Date(), 'YYYY') %> <%= author || title %>&nbsp;
                Powered by <a href="https://hexo.io/" target="_blank" rel="noopener">Hexo</a> & <a
                        href="https://github.com/ppoffice/hexo-theme-icarus" target="_blank" rel="noopener">Icarus</a>
                <% if (busuanzi) { %>
                <br>
                <span id="busuanzi_container_site_uv">
                <%- _p('plugin.visitor', '<span id="busuanzi_value_site_uv">0</span>') %>
                </span>
                <% } %>
                </p>
                <br>
                <span id="timeDate">载入天数...</span><span id="times">载入时分秒...</span>
                <script>
                    var now = new Date(); 
                    function createtime() { 
                        var grt= new Date("03/25/2020 20:43:00");//此处修改你的建站时间或者网站上线时间 
                        now.setTime(now.getTime()+250); 
                        days = (now - grt ) / 1000 / 60 / 60 / 24; dnum = Math.floor(days); 
                        hours = (now - grt ) / 1000 / 60 / 60 - (24 * dnum); hnum = Math.floor(hours); 
                        if(String(hnum).length ==1 ){hnum = "0" + hnum;} minutes = (now - grt ) / 1000 /60 - (24 * 60 * dnum) - (60 * hnum); 
                        mnum = Math.floor(minutes); if(String(mnum).length ==1 ){mnum = "0" + mnum;} 
                        seconds = (now - grt ) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum); 
                        snum = Math.round(seconds); if(String(snum).length ==1 ){snum = "0" + snum;} 
                        document.getElementById("timeDate").innerHTML = "本站已安全运行 "+dnum+" 天 "; 
                        document.getElementById("times").innerHTML = hnum + " 小时 " + mnum + " 分 " + snum + " 秒"; 
                    } 
                setInterval("createtime()",250);
                </script>
            </div>
            <div class="level-end">
            <% if (Object.keys(links).length) { %>
                <div class="field has-addons is-flex-center-mobile has-mt-5-mobile is-flex-wrap is-flex-middle">
                <% for (let name in links) {
                        let link = links[name]; %>
                <p class="control">
                    <a class="button is-white <%= typeof(link) !== 'string' ? 'is-large' : '' %>" target="_blank" rel="noopener" title="<%= name %>" href="<%= url_for(typeof(link) === 'string' ? link : link.url) %>">
                        <% if (typeof(link) === 'string') { %>
                        <%= name %>
                        <% } else { %>
                        <i class="<%= link.icon %>"></i>
                        <% } %>
                    </a>
                </p>
                <% } %>
                </div>
            <% } %>
            </div>
        </div>
    </div>
</footer>